* {
    margin: 0;
    padding: 0;
}

header {
    width: 90%;
    height: 400px;
    background-image: url(paprika-3212148__480.jpg);
    background-size: cover;
}

@import url(style.css) screen and (min-width: 769px); /* 769以上 */
@import url(tablet.css) screen and (max-width: 768px); /* 768以下 */
@import url(smart.css) screen and (max-width: 320px); /* 320以下 */

.one {
    margin: 30px;
}
.graf {
    float: left;
}

.test {
    float: left;
}

.check {
    float: left;
}
.retry {
    float: left;
}

.chart {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: #9bffe8;
    margin: 75px;

}

.square {
    width: 250px;
    height: 350px;
    background: #d01c1c;
    margin: 60px;

}

img {
    margin: 54px;
}

h2 {
    height: 450px;
    width: 1100px;
    font-size: 100px;
    font-family: 'Bangers', cursive;
    font-family: 'Playfair Display SC', serif;
    margin: 100px;
    text-align: center;
    padding-top: 200px;
    color: #ffffff;
}
